@import "tailwindcss";
@import "util/fonts.css";

@theme {
  /* transparent */
  --surface-alpha: 0.6;
  --line-alpha: 0.75;
 
  --ws-line-alpha: 0.65;

  /* dark */
  --color-surface-l: 0%;
  --color-surface-c: 0;
  --color-surface-h: 0;
  --color-line-l: 80%;
  --color-line-c: 0;
  --color-line-h: 0;

  --color-ws-line-l: 100%;
  --color-ws-line-c: 0;
  --color-ws-line-h: 0;

  --color-surface: oklch(var(--color-surface-l) var(--color-surface-c) var(--color-surface-h) / var(--surface-alpha));
  --color-line: oklch(var(--color-line-l) var(--color-line-c) var(--color-line-h) / var(--line-alpha));
  
  --color-ws-line: oklch(var(--color-ws-line-l) var(--color-ws-line-c) var(--color-ws-line-h) / var(--ws-line-alpha));
  
  --color-content: oklch(100% 0 0);
  --color-icon: oklch(80% 0 0);
  --color-muted: oklch(75% 0 0);
}

[data-theme="light"] {
  --color-surface-l: 100%;
  --color-surface-c: 0;
  --color-surface-h: 0;
  --color-line-l: 35%;
  --color-line-c: 0;
  --color-line-h: 0;

  --color-ws-line-l: 0%;
  --color-ws-line-c: 0;
  --color-ws-line-h: 0;

  --color-content: oklch(0% 0 0);
  --color-icon: oklch(40% 0 0);
  --color-muted: oklch(65% 0 0);
}

[data-theme="custom"] {
  --color-surface-l: var(--custom-surface-l, 0%);
  --color-surface-c: var(--custom-surface-c, 0);
  --color-surface-h: var(--custom-surface-h, 0);
  --color-line-l: var(--custom-line-l, 80%);
  --color-line-c: var(--custom-line-c, 0);
  --color-line-h: var(--custom-line-h, 0);

  --color-ws-line-l: var(--custom-ws-line-l, 100%);
  --color-ws-line-c: var(--custom-ws-line-c, 0);
  --color-ws-line-h: var(--custom-ws-line-h, 0);
}

[data-transparent="false"] {
  --surface-alpha: 1;
  --line-alpha: 1;

  --ws-line-alpha: 1;
}

:root {
  --text-font-size: 14px;
  --text-font-family: system-ui, sans-serif;
  --text-icon-size: 16px;
}

.size-icon {
  width: var(--text-icon-size);
  height: var(--text-icon-size);
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: var(--text-font-size);
  font-family: var(--text-font-family);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background:  color-mix(in oklab, var(--color-line) 75%, transparent);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-line);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--color-line) transparent;
  }
}
